:root {
--Purple-600: hsl(246, 80%, 60%);
--Navy-950: hsl(226, 43%, 10%);
--Navy-900: hsl(235, 46%, 20%);
--Purple-500: hsl(235, 45%, 61%);
--Navy-200: hsl(236, 100%, 87%);

--work: hsl(15, 100%, 70%);
--play: hsl(195, 74%, 62%);
--study: hsl(348, 100%, 68%);
--exercise: hsl(145, 58%, 55%);
--social: hsl(264, 64%, 52%);
--self-care: hsl(43, 84%, 65%);
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--Navy-950);
    font-family: "Rubik", sans-serif;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 255px);
    grid-template-rows: repeat(2, 255px);
    grid-template-areas: 
        "user box-work box-play box-study"
        "user box-exercise box-social box-selfcare";
    gap: 30px;
}

.grid-element {
    display: flex;
    border-radius: 15px;
    align-items: end;
    background-repeat: no-repeat;          
    background-position:  90% -5%;      
    background-size: 75px;  
}

.card {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 30px;
    background-color: var(--Navy-900);
    border-radius: 10px;
    height: 210px;
    width: 100%;    
    font-size: 20px;
    color: white;
}

.choice:hover {
    color: white;
    cursor: pointer
}

.choice.active{
    color: white;
}



.user {
    flex-direction: column;
    grid-area: user; 
    background-color: var(--Navy-900);
    justify-content: start;
    align-items: start;
}

.name-box {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.name-box > img {
    height: 5px;
    margin-left: auto;
    cursor: pointer
}
.user-card {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    padding: 30px;
    background-color: var(--Purple-600);
    width: 100%;
    height: 350px;
    border-radius: 15px;
}

.user-card > img {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: 3px solid white;
}

.report-text {
    margin: 45px 0 10px 0;
    color: var(--Navy-200);
}

.name {
    font-size: 40px;
    color: white;
    font-weight: 300;

}

.category {
    display: flex;
    flex-direction: column;
    padding: 30px;
    color: var(--Navy-200);
    font-size: 20px;
    gap: 25px;
}

.box-work { 
    grid-area: box-work; 
    background-color: var(--work);
    background-image: url('images/icon-work.svg'); 
}

.hrs {
    font-size: 50px;
    font-weight: 300;
}

.previous {
    margin-top: 10px;
    font-size: 18px;
    font-weight: 300;
    color: var(--Navy-200);
}

.box-play { 
    grid-area: box-play; 
    background-color: var(--play);
    background-image: url('images/icon-play.svg'); 

}

.box-study { 
    grid-area: box-study; 
    background-color: var(--study);
    background-image: url('images/icon-study.svg'); 
    
}

.box-exercise { 
    grid-area: box-exercise; 
    background-color: var(--exercise);
    background-image: url('images/icon-exercise.svg'); 
}

.box-social { 
    grid-area: box-social; 
    background-color: var(--social);
    background-image: url('images/icon-social.svg'); 
}

.box-selfcare { 
    grid-area: box-selfcare; 
    background-color: var(--self-care);
    background-image: url('images/icon-self-care.svg'); 
}

@media (max-width: 325px) {
    .grid-container {
    margin: 50px 0;
    grid-template-columns: 255px;
    grid-template-rows: repeat(8, 255px);
    grid-template-areas: 
        "user"
        "user"
        "box-work" 
        "box-play"
        "box-study"
        "box-exercise" 
        "box-social" 
        "box-selfcare";
    gap: 30px;
}

}
